<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WebOnlineConnection"
            connectionString="Data Source=DESKTOP-668S5PE\SQLEXPRESS;Initial Catalog=OnlineShop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>